<div class="login-container">
  <h1>Sign In</h1>
  <form [formGroup]="signInForm">
    <div class="p-float-label">
      <input type="text" placeholder="Please Enter FullName" pInputText formControlName="fullName" />
      <label>Full Name</label>
    </div>
    <div class="p-float-label">
      <input type="text" placeholder="Please Enter Email" pInputText formControlName="email"/>
      <label>Email</label>
    </div>
    <div class="p-float-label">
      <p-password formControlName="password">
        <ng-template pTemplate="header">
          <h6>Pick a password</h6>
        </ng-template>
        <ng-template pTemplate="footer">
          <p-divider></p-divider>
          <p class="mt-2">Suggestions</p>
          <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
            <li>At least one lowercase</li>
            <li>At least one uppercase</li>
            <li>At least one numeric</li>
            <li>Minimum 8 characters</li>
          </ul>
        </ng-template>
      </p-password>
      <label>Password</label>
    </div>
    <p-button label="Sign In" (click)="login()" [disabled]="!signInForm.valid" class="login-button"></p-button>
  </form>

  <p-toast></p-toast>
</div>
